@model List<Blog>
@{
	ViewData["Title"] = "Index";
}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">

					<h2 style="display: block;">Blogs</h2>

					<a asp-action="Create" asp-asp-controller="Blog" class="main__title-link">add blog</a>
				</div>
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Image</th>
								<th>Title</th>

								<th>Content</th>
								<th>IsVisible</th>
								<th>IsDeleted</th>




								<th>ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							@if (Model != null && Model.Any())
							{

							@foreach (var item in Model)
							{
								<tr>
									<td>
										<div class="catalog__text">@item.Id</div>
									</td>
										<td><img src="@Url.Content(item.ImageUrl)" width="70" /></td>


									<td>
										<div class="catalog__text">@item.Title</div>
									</td>

									<td>
										<div class="catalog__text">@item.Content</div>
									</td>
									<td>
										@if (item.IsVisibleOnHomepage == false)
										{
											<a asp-action="ToggleIsVisible" asp-controller="Blog" asp-route-id="@item.Id" class="catalog__btn catalog__btn--edit">
												<i class="bi bi-pin-angle"></i>
											</a>
										}
										else
										{
											<a asp-action="ToggleIsVisible" asp-controller="Blog" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
												<i class="bi bi-pin-fill"></i>
											</a>
										}
									</td>
									
									<td>
										@if (item.IsDeleted == true)
										{
											<div class="catalog__text catalog__text--red">@item.IsDeleted</div>

										}
										else
										{
											<div class="catalog__text catalog__text--green">@item.IsDeleted</div>

										}
									

									</td>
									<td>
										<div class="catalog__btns">


											
											<a asp-action="Info" asp-controller="Blog" asp-route-id="@item.Id" class="catalog__btn catalog__btn--banned">
												<i class="ti ti-eye"></i>
											</a>

											<a asp-action="Update" asp-controller="Blog" asp-route-id="@item.Id" class="catalog__btn catalog__btn--edit">
												<i class="ti ti-edit"></i>
											</a>

											<a asp-action="Delete" asp-controller="Blog" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
												<i class="ti ti-trash"></i>
											</a>


										</div>
									</td>

								</tr>

							}
							}
							else
							{
								<div>No blogs found.</div>
							}
						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" asp-route-take="@ViewBag.Take" asp-route-page="@((ViewBag.AktivePage > 1 ? ViewBag.AktivePage - 1 : 1))">Previous</a>
						</li>

						@for (int i = 1; i <= ViewBag.PageCount; i++)
						{
							<li class="page-item @(i == ViewBag.AktivePage ? "active" : "")">
								<a class="page-link" asp-route-take="@ViewBag.Take" asp-route-page="@i">@i</a>
							</li>
						}

						<li class="page-item">
							<a class="page-link" asp-route-take="@ViewBag.Take" asp-route-page="@((ViewBag.AktivePage < ViewBag.PageCount ? ViewBag.AktivePage + 1 : ViewBag.PageCount))">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- end items -->

