@model Book
@{
	ViewData["Title"] = "Info";
}

<h1>Info</h1>

<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<h2 class="text-white">Author Info</h2>

				<div class="main__title">
					<li class="sidebar__nav-item">
						<a asp-action="Index" asp-controller="Author" class="sidebar__nav-link "><i class="ti ti-arrow-left"></i> <span>Go Back</span></a>
					</li>

				</div>
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Book Image</th>
								<th>TITLE</th>
								<th>AUTHOR</th>
								<th>RATING</th>
								<th>GENRE</th>
								<th>FORMAT</th>
								<th>PUBLISHED YEAR</th>
								<th>LANGUAGE</th>
								<th>ISDELETED</th>

								<th>ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>
									<div class="catalog__text">@Model.Id</div>
								</td>
								<td><img src="~/imgs/books/@Model.CoverImageUrl" width="50" /></td>

								<td>
									<div class="catalog__text"><a href="#">@Model.Title</a></div>
								</td>
								<td>
									<div class="catalog__text"><a href="#">@Model.Author.AuthorName</a></div>
								</td>
								<td>
									<div class="catalog__text catalog__text--rate">7.9</div>
								</td>

								<td>
									<div class="catalog__text">@Model.Genre</div>
								</td>

								<td>
									<div class="catalog__text">@Model.Format</div>
								</td>

								<td>
									<div class="catalog__text">@Model.PuslishedYear</div>
								</td>
								<td>
									<div class="catalog__text">@Model.Language</div>
								</td>
								<td>
									<div class="catalog__text">@Model.IsDeleted</div>
								</td>

								<td>
								

										<a asp-action="Delete" asp-asp-controller="Book" asp-route-id="@Model.Id" class="catalog__btn catalog__btn--delete">
											<i class="ti ti-trash"></i>
										</a>


									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<!-- end items -->

