@model List<Author>
@{
    ViewData["Title"] = "Index";
}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Books</h2>

					<a asp-action="Create" asp-asp-controller="Author" class="main__title-link">add item</a>
				</div>
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Profil Image</th>
								<th>Fullname</th>
								<th>IsDeleted</th>


								<th>ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										<div class="catalog__text">@item.Id</div>
									</td>
									<td><img src="@Url.Content(item.AuthorImage)" width="70" /></td>
									<td>
										<div class="catalog__text"><a href="#">@item.AuthorName</a></div>
									</td>
									<td>
										@if (item.IsDeleted == true)
										{
											<div class="catalog__text catalog__text--red">@item.IsDeleted</div>

										}
										else
										{
											<div class="catalog__text catalog__text--green">@item.IsDeleted</div>

										}

									</td>
									<td>
										<div class="catalog__btns">
											<a asp-action="Info" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--banned">
												<i class="ti ti-lock"></i>
											</a>
											
											@if (item.IsDeleted == false)
											{
												<a asp-action="Hide" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--view">
													<i class="ti ti-eye"></i>
												</a>
											}
											else
											{
												<a asp-action="Show" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
													<i class="ti ti-eye"></i>
												</a>
											}

											<a asp-action="Update" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--edit">
												<i class="ti ti-edit"></i>
											</a>

											<a asp-action="Delete" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
												<i class="ti ti-trash"></i>
											</a>


										</div>
									</td>
								</tr>

							}
						</tbody>
					</table>
				</div>
			</div>
			<!-- end items -->

