@model List<Comment>
@{
	ViewData["Title"] = "Index";
}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">

					<h2 style="display: block;">Authors</h2>

					<a asp-action="Create" asp-asp-controller="Author" class="main__title-link">add item</a>
				</div>
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Book Image</th>
								<th>Book</th>
								<th>Author</th>
								<th>User</th>
								<th>Content</th>
								<th>IsApproved</th>


								<th>ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										<div class="catalog__text">@item.Id</div>
									</td>
									<td><img src="~/imgs/books/@item.Book.CoverImageUrl" width="40" /></td>

									<td>
										<div class="catalog__text">@item.Book?.Title</div>
									</td>
									<td>
										<div class="catalog__text">@item.Book?.Author?.AuthorName</div>
									</td>
									<td>
										<div class="catalog__text">@item.User.Fullname</div>
									</td>

@* 									<td><img src="@Url.Content(item.ProfilImage)" width="70" /></td>
 *@									<td>
										<div class="catalog__text"><a href="#">@item.Content</a></div>
									</td>
									<td>
										<div class="catalog__text"><a href="#">@item.IsApproved</a></div>
									</td>
								
									<td>
										<div class="catalog__btns">



											<a asp-action="Hide" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--view">
												<i class="ti ti-lock"></i>
											

											</a>

											<a asp-action="Show" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
												<i class="ti ti-lock"></i>
											</a>

											<a asp-action="Info" asp-asp-controller="Author" asp-route-id="@item.Id" class="catalog__btn catalog__btn--banned">
												<i class="ti ti-eye"></i>
											</a>

											<a asp-action="Update" asp-asp-controller="Comment" asp-route-id="@item.Id" class="catalog__btn catalog__btn--edit">
												<i class="ti ti-edit"></i>
											</a>

											<a asp-action="Delete" asp-controller="Comment" asp-route-id="@item.Id" class="catalog__btn catalog__btn--delete">
												<i class="ti ti-trash"></i>
											</a>


										</div>
									</td>
								</tr>

							}
						</tbody>
					</table>
				</div>
			</div>
			<!-- end items -->


