@model List<User>
@{
	ViewData["Title"] = "Index";
}

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">

					<h2 style="display: block;">Users</h2>
				</div>
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>Profil Image</th>
								<th>Fullname</th>
								<th>Username</th>
								<th>Email</th>
								<th>Id</th>
								<th>IsDeleted</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										<img src="~/account/anonimUser.png" width="60px" style="border-radius:60%" alt="img">
									</td>
									<td>
										<div class="catalog__text"><a href="#">@item.Fullname</a></div>
									</td>
									<td>
										<div class="catalog__text"><a href="#">@item.UserName</a></div>
									</td>
									<td>
										<div class="catalog__text"><a href="#">@item.Email</a></div>
									</td>
									<td>
										<div class="catalog__text">@item.Id</div>
									</td>
																		
									<td>
										<div class="catalog__text"><a href="#">@item.IsDeleted</a></div>
									</td>
									
								</tr>

							}
						</tbody>
					</table>
				</div>
			</div>
			<!-- end items -->

